{% extends "home/base.html" %} 
{% load static %} 
{% block title %}About Us{% endblock title %} 
{% block css %}
<link rel="stylesheet" href=" {% static 'base/css/about.css' %} " />
{% endblock css %} {% block content %}

<main>
  <div class="sec-one">
    <h1 id="about-us">About Us</h1>
    <h2 id="we-changing">
      We’re changing the game, What do you want to know about SimpliXL?
    </h2>
  </div>

  <section class="container">
    <div class="sec-two">
      <div class="our-story-img"></div>
      <div class="our-story-body">
        <h2 id="our-story-text">
          Our <span style="color: #2691d9">Story</span>
        </h2>
        <p id="our-mission-text">
          Our mission is to create adaptable and dependable solutions that fully
          meet the needs of our users. We are always developing our goods by
          incorporating new features and client suggestions. Each user is
          important to us, and we will react to your questions as soon as
          possible. We can always provide an adequate answer to your tasks. You
          are welcome to contact us with any questions.
        </p>
        <p id="services-text">
          We provide services that help you navigate your day to day activities
          with ease while maintaining the quality of the services we offer.
        </p>
        <p id="living-place-text">
          A living place for collaboration, effective workflow, hassle free
          comparism and monitoring of data.
        </p>
      </div>
    </div>
  </section>

  <section class="container">
    <div id="meet-team">
      <h2>Meet our <span style="color: #175782">Team</span></h2>
      <p>They’re all professionals and are good at what they do</p>
    </div>

    <div class="sec-four">
      <div class="name-box-cont">
        <img src="{% static 'images/Instagram post - 2.0.png' %}" alt="" />
        <div class="name-box">
          <h3>Robert Fox</h3>
          <h4>Product lead</h4>
          <div class="icon-line">
            <a href=""
              ><img
                src="{% static 'images/insta.png' %}"
                alt="instagram"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/tweet.png' %}"
                alt="twitter"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/face.png' %}"
                alt="facebook"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/yout.png' %}"
                alt="youtube"
                class="social-media-icons"
            /></a>
          </div>
        </div>
      </div>
      <div class="name-box-cont">
        <img src="{% static 'images/Instagram post - 2.png' %}" alt="" />
        <div class="name-box">
          <h3>Ralph Edwards</h3>
          <h4>Lead developer</h4>
          <div class="icon-line">
            <a href=""
              ><img
                src="{% static 'images/insta.png' %}"
                alt="instagram"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/tweet.png' %}"
                alt="twitter"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/face.png' %}"
                alt="facebook"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/yout.png' %}"
                alt="youtube"
                class="social-media-icons"
            /></a>
          </div>
        </div>
      </div>
      <div class="name-box-cont">
        <img src="{% static 'images/Instagram post - 2-1.png' %}" alt="" />
        <div class="name-box">
          <h3>Savannah Nguyen</h3>
          <h4>UI junior designer</h4>
          <div class="icon-line">
            <a href=""
              ><img
                src="{% static 'images/insta.png' %}"
                alt="instagram"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/tweet.png' %}"
                alt="twitter"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/face.png' %}"
                alt="facebook"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/yout.png' %}"
                alt="youtube"
                class="social-media-icons"
            /></a>
          </div>
        </div>
      </div>
      <div class="name-box-cont">
        <img src="{% static 'images/Instagram post - 2-2.png' %}" alt="" />
        <div class="name-box">
          <h3>Arlene McCoy</h3>
          <h4>Project manager</h4>
          <div class="icon-line">
            <a href=""
              ><img
                src="{% static 'images/insta.png' %}"
                alt="instagram"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/tweet.png' %}"
                alt="twitter"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/face.png' %}"
                alt="facebook"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/yout.png' %}"
                alt="youtube"
                class="social-media-icons"
            /></a>
          </div>
        </div>
      </div>
      <div class="name-box-cont">
        <img src="{% static 'images/Instagram post - 2-3.png' %}" alt="" />
        <div class="name-box">
          <h3>Cody Fisher</h3>
          <h4>Full stack developer</h4>
          <div class="icon-line">
            <a href=""
              ><img
                src="{% static 'images/insta.png' %}"
                alt="instagram"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/tweet.png' %}"
                alt="twitter"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/face.png' %}"
                alt="facebook"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/yout.png' %}"
                alt="youtube"
                class="social-media-icons"
            /></a>
          </div>
        </div>
      </div>
      <div class="name-box-cont">
        <img src="{% static 'images/Instagram post - 2-4.png' %}" alt="" />
        <div class="name-box">
          <h3>Kathryn Murphy</h3>
          <h4>UX Research lead</h4>
          <div class="icon-line">
            <a href=""
              ><img
                src="{% static 'images/insta.png' %}"
                alt="instagram"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/tweet.png' %}"
                alt="twitter"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/face.png' %}"
                alt="facebook"
                class="social-media-icons"
            /></a>
            <a href=""
              ><img
                src="{% static 'images/yout.png' %}"
                alt="youtube"
                class="social-media-icons"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <a href="" id="view-all">View all</a>
  </section>

  <section class="container">
    <div class="sec-five">
      <h2>Have more questions?</h2>
      <p>
        You can contact our <span style="color: #1f74ad">Support team</span>
      </p>
      <p>
        Or call us on: &nbsp
        <span class="block" style="color: #1f74ad; font-weight: 700"
          >(219) 555-0014</span
        >
      </p>
      <a href=" {% url 'accounts:register' %} " id="sign-up" class="primary">Sign Up</a>
    </div>
  </section>
</main>

{% endblock content %}


{% block footer %}
  {% include 'home/footer.html' %}
{% endblock footer %}