{% extends "home/base.html" %} 

{% load static %} 

{% block title %}Contact{% endblock title %} 

{% block css %}
  <link rel="stylesheet" href=" {% static 'base/css/contact.css' %} " />
{% endblock css %} 

{% block content %}

<main>
  <div class="contact-container">
    <div class="contact-content">
      <h1>Get in touch with Us</h1>
      <p>We'd love to hear from you. Here's how to get in touch with us...</p>
    </div>
    <div class="main-contact-container">
      <div class="imag">
        <p>
          Fill out the form and our Team will get in touch with you in a jiffy
        </p>
        <div class="info-container">
          <img src="{% static './images/call.png' %}" />
          <p>+234 002 123 4567</p>
        </div>
        <div class="info-container">
          <img src="{% static './images/sms.png' %}" />
          <p>hello@simplixL.com</p>
        </div>
        <div class="info-container">
          <img src="{% static './images/location-minus.png' %}" />
          <p>24 Proj_Team 101, Slack, Nigeria</p>
        </div>
      </div>
      <div class="contact-form">
        <label for="yourName">Full Name</label>
        <input
          class="form-fill"
          type="text"
          name="yourName"
          placeholder="John Doe"
        /><br />
        <label for="email">Email</label>
        <input
          name="email"
          class="form-f"
          type="text"
          placeholder="youremail@gmail.com"
        /><br />
        <label for="message">Message</label>
        <textarea
          class="form-fill"
          name="message"
          id="message"
          placeholder="Write your message"
        ></textarea
        ><br />
        <button>Send Message</button>
      </div>
    </div>
  </div>
</main>

{% endblock content %} 

{% block footer %} 
  {% include 'home/footer.html' %}
{% endblock footer %}
