{% extends "home/base.html" %} {% load static %} {% block title %}Features
Page{% endblock title %} {% block css %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
/>
<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/axiforma" />

<link rel="stylesheet" href=" {% static 'base/css/features.css' %} " />
{% endblock css %} {% block content %}

<main>
  <section class="container">
    <div class="head">
      <h2>Working with a Comparison tool has never been easier</h2>
      <p>Have a look at some of our features</p>
    </div>
  </section>

  <section class="sectiontwo">
    <div class="container row">
      <div>
        <h3>Upload <img src="{% static 'images/send-square.png' %}" /></h3>
        <p>
          Upload your CSV or Excel files hassle-free on SimpliXL. Always free.
        </p>
      </div>
      <div>
        <h3>Compare <img src="{% static 'images/Group.png' %}" /></h3>
        <p>
          Compare the content of the file uploaded on SimpliXL. Always free.
        </p>
      </div>
      <div>
        <h3>Download <img src="{% static 'images/receive-square.png' %}" /></h3>
        <p>Save your data and downlaod corrected file anytime. Always free.</p>
      </div>
      <div>
        <h3>Discard <img src="{% static 'images/trash.png' %}" /></h3>
        <p>Have the option to delete your error excel files.</p>
      </div>
    </div>
  </section>

  <section class="sectionthree">
    <div class="container row">
      <div class="page1">
        <img src="{% static 'images/Rectangle 828186 1.png' %}" alt="" />
        <div>
          <h3>Upload your spreadsheet files</h3>
          <p>
            With SimpliXL, you are able to upload either CSV files or excel
            files fore comparision
          </p>
        </div>
      </div>

      <div class="page1">
        <img src="{% static 'images/Rectangle 828186 1.png' %}" alt="" />
        <div>
          <h3>Compare the content of your files</h3>
          <p>
            After upload, compare the content of your files to discover
            discrepancies or duplicates.
          </p>
        </div>
      </div>

      <div class="page1">
        <img src="{% static 'images/Rectangle 828186-2.png' %}" alt="" />
        <div>
          <h3>Remove duplicates in your file.</h3>
          <p>
            During comparison, SimpliXL helps you highlight duplicates and
            return one file or both files.
          </p>
        </div>
      </div>

      <div class="page1">
        <img src="{% static 'images/Rectangle 828186-2.png' %}" alt="" />
        <div>
          <h3>Download your corrected file</h3>
          <p>
            SimpliXL allows you save your work and come back to download anytime
            hassle-free.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionfour b4-footer">
    <div class="b4-footer-text">
      <h2>Learn more about our features.</h2>
      <p>
        Want to learn more about SimpliXL and how to use them? Then watch this
        video..
      </p>
    </div>
    <div class="b4-footer-video container">
      <img src="{% static 'images/Frame 29.png' %}" />
    </div>
    <div class="b4-footer-videobutton">
      <a href=" {% url 'accounts:login' %} " class="btn_down">Get Started</a>
      <a href="  {% url 'base:how_to' %}">Learn more</a>
    </div>
  </section>
</main>

{% endblock content %} 

{% block footer %} 
  {% include 'home/footer.html' %} 
{% endblock footer %}
