{% extends "home/base.html" %}
{% load static %}

{% block title %}Help Page{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/axiforma" />

<link rel="stylesheet" href=" {% static 'base/css/Help.css' %} ">
{% endblock css %}
{% block content %}

<section class="header2">

	<div>
		<p id="FAQ-blue">The FAQs</p>
		<h2>Help Centre</h2>
		<p>Everything you have to know about the product</p>
	</div>
</section>

<main>
	<section class="sectiontwo">
		<div class="section-two">
			<div class="one">
				<p id="p-txt">Support</p>
				<h2>FAQs</h2>
				<p id="p-txt2">Everything you have to know about the product. Can't find the answer you are looking
					for? Please, chat our friendly team</p>
			</div>
			<div class="two">
				<div class="card">
					<h3>What is SimpliXL</h3>
					<p>SimpliXL is a platform that enables users to upload CSV or excel files and compare the contents
						of the files</p>
				</div>
				<div class="card">
					<h3>Can i save the file after being compared?</h3>
					<p>Yes, you can export this file in a PDF format for future use. For example, you can print it or
						send it to your co-workers</p>
				</div>
				<div class="card">
					<h3>How to compare Excel files?</h3>
					<p>This requires a few clicks</p>
					<ul class="a">
						<li>Upload excel file</li>
						<li>Click on compare button</li>
						<li>You can save and download file</li>
					</ul>
					<p>That's all. SimpliXL shows you comparism result</p>
				</div>
			</div>
		</div>
	</section>

</main>

<footer>
	<div class="footer-container">
		<div class="container1">
			<h2>Join 2,000+ Subscribers</h2>
			<p>Stay in loop with everything you have to know</p>
		</div>
		<div class="coont">
			<div class="footer-form">
				<input type="email" placeholder="Email address" id="email">
				<input type="submit" value="Subscribe" id="submit">
			</div>
			<div class="form-txt">
				<p>We care about your data in our privacy policy</p>
			</div>
		</div>
	</div>
	</div>
</footer>
{% endblock content %}