{% extends "home/base.html" %} 
{% load static %} 
{% block title %}SimpliXL{% endblock title %} 

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/axiforma" />

    <link rel="stylesheet" href=" {% static 'base/css/home.css' %} " />
{% endblock css %} 

{% block content %}

    <main>
      <section class="sectionone">
        <div class="container row">
            <div>
              <h4 class="boost img-flex"><img src=" {% static 'images/status-up.png' %}"/>Boost your productivity</h4>
              <h1 class="compare">
                Compare the content of your Excel files, in SimpliXL
              </h1>
              <p class="productivity">
                Boost your productivity by comparing and finding discrepancies in
                the content of your excel files with SimpliXL.
              </p>
              <div class="heading-btn">
                <a href=" {% url 'accounts:login' %} " class="btn-1 img-flex">Get SimpliXL</a>
              <a href=" {% url 'base:how_to' %} " class="btn-2 img-flex"> Watch Demo<img src=" {% static 'images/send-2.png' %}" class="img-2" /></a>
              </div>
              <p id="freeforever" class="img-flex"><img src=" {% static 'images/verify.png' %}"/>  Free forever</p>
            </div>
            <div class="side-img">
              <img src=" {% static 'images/Frame 58212.png' %}" alt="" />
            </div>
        </div>
      </section>

      <section class="sectiontwo">
        <div class="container row">
            <div>
              <h3 class="img-flex">Upload   <img src=" {% static 'images/send-square.png' %}"/></h3>
              <p>
                Upload your CSV or Excel files hassle-free on SimpliXL. Always free.
              </p>
            </div>
            <div>
              <h3 class="img-flex">Compare   <img src=" {% static 'images/Group.png' %}"/></h3>
              <p>
                Compare the content of the file uploaded on SimpliXL. Always free.
              </p>
            </div>
            <div>
              <h3 class="img-flex">Download   <img src=" {% static 'images/receive-square.png' %}"/></h3>
              <p>
                Save your data and downlaod corrected file anytime. Always free.
              </p>
            </div>
        </div>
      </section>

      <section class="sectionthree">
        <div class="container row align-center">  
            <div class="sec3-image col-6">
              <img src=" {% static 'images/Photo.jpg' %}" alt="" />
            </div>
            <div class="col-6 col-text">
              <h2 id="everything">
                Everything you need in a File Comparison Tool.
              </h2>
              <p class="border-left">
                Establish accuracy of data in your spreadsheet file, with easy
                comparison and real-time editing.
              </p>
              <div class="tool">
                  <p class="img-flex"><img src=" {% static 'images/tick-circle.png' %}"> Save time</p>
                  <p class="img-flex"><img src=" {% static 'images/tick-circle.png' %}"> Improve productivity</p>
              </div>
              <a href="  {% url 'base:how_to' %} " class="btn bg-blue white" id="btn3"> Learn More &rarr; </a>
            </div>
        </div>
      </section>

      <section class="sectionfour">
        <div class="container row align-center">
            <div class="col-6 col-text">
              <h2 id="everything">Let’s help you reduce Spreadsheet Errors.</h2>
              <p>
                SimpliXL highlights duplicated content in an excel file , removes
                the duplicate, return both files or dispose original file and return
                newly edited file.
              </p>
              <a href=" {% url 'accounts:login' %} " class="blue">Get Started</a>
            </div>
            <div class="col-6">
              <img src=" {% static 'images/Frame 58719.png' %}" alt="" />
            </div>
        </div>
      </section>

      <section class="sectionfive">
        <div class="container row">
            <div>
              <img src=" {% static 'images/Frame 58752.png' %}" alt="" />
              <h3>Safe and Secure</h3>
              <p>
                We use high capacity security measure to keep your data safe. You
                control your data and no one else can have access to it.
              </p>
            </div>
            <div>
              <img src=" {% static 'images/Frame 58897.png' %}" alt="" />
              <h3>Privacy</h3>
              <p>
                We never use your data for ad purposes and we never sell your
                information to third parties. Your data is safe and private.
              </p>
            </div>
            <div>
              <img src=" {% static 'images/Frame 58753.png' %}" alt="" id="sec-a-image" />
              <h3>Compliance to regulations</h3>
              <p>
                SimpliXL adheres strictly to the laid down laws and regulations on
                data privacy and would not endanger their customers information.
              </p>
            </div>
        </div>
      </section>

      <section class="subfooter">
          <h2>Get started for free in 10 minutes</h2>
          <p>
            Get the best excel file comparison tool for free and boost your
            daily productivity. With SimpliXL, you get all the needed tools in
            one workspace.
          </p>
          <a href=" {% url 'accounts:register' %} " class="btn btn-lg bg-blue white">Sign Up</a>
        </section>
    </main>


{% endblock content %} 

{% block footer %} 
  {% include 'home/footer.html' %} 
{% endblock footer %}
