{% load static %}

<header>
  <div class="container row">
    <a href=" {% url 'base:home' %} " class="logo">
      <img src="{% static '/images/frame 58827.png' %}" alt="logo" />
    </a>

    <div class="hamburger">&#9776;</div>

    <ul class="navbar">
      <li><a href=" {% url 'base:home' %} " class="nav-link">Overview</a></li>
      <li>
        <a href="{% url 'base:feature' %}" class="nav-link">Features</a>
      </li>
      <li>
        <a href="{% url 'base:request' %}" class="nav-link">Request Tool</a>
      </li>
      <li>
        <a href="{% url 'base:contact' %}" class="nav-link">Contact</a>
      </li>
    </ul>

    <div class="authenticate row">
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'members:home' %}" class="nav-link">Dashboard</a></li>
      <li><a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a></li>
      {% else %}
      <a href="{% url 'accounts:login' %}" class="nav-link blue">Sign In</a>
      <a href="{% url 'accounts:register' %}" class="nav-link white bg-blue"
        >Sign Up</a
      >
      {% endif %}
    </div>
  </div>
</header>
