* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

/*center */
.center {
  width: 70%;
  margin: auto;
  text-align: center;
}

#prof {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.user-image {
  margin: auto;
  width: 142px;
  height: 142px;
  padding-top: 50px;
  text-align: center;
}

.Tbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 6rem;
}

.btn {
  padding: 20px 60px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}

.txt {
  background: #2691d9;
}

.txt1 {
  color: #2691d9;
}

.txt1:hover {
  text-decoration-line: underline;
  text-decoration-color: #800080;
  text-decoration-thickness: 3px;
}

.contain {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.contain label {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

.contain input {
  width: 100%;
  padding: 11.5px 16px;
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  margin-bottom: 50px;
  font-size: 16px;
}

input::placeholder {
  color: #cccccc;
}

.contain button {
  border: none;
}

.Dbuttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.txts1 {
  background: #e41d1d;
}

.txts2 {
  background: #2691d9;
}

input:disabled {
  cursor: not-allowed;
}

.not-permitted {
  color: red;
  font-style: italic;
  font-size: 12px;
}

label.not-permitted {
  cursor: not-allowed;
}
