* {
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.username {
  text-align: right;
  color: black;
  padding: 10px 10px 0 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

nav * {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
}

.nav-link {
  line-height: 50px;
  display: block;
  padding: 0 20px;
}

.nav-link:hover {
  background-color: green;
  color: white;
}

h1 {
  text-align: center;
}

.content {
  display: flex;
}

aside {
  width: 20%;
  height: 80vh;
  background: green;
  padding: 20px;
}
aside a {
  color: white;
  display: block;
  padding: 10px 0;
  transition: all 0.5s;
}

aside a:hover {
  background: white;
  color: black;
  padding: 10px;
  transform: scale(1.01);
}

main {
  width: 80%;
  padding: 0 30px;
}

.delPageBtn {
  color: white;
  padding: 10px 30px;
  border: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}

.delPageBtn:hover {
  transform: scale(1.3);
}

.deleteBtn {
  background: red;
}

.backBtn {
  background: green;
}
