* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/static/images/29.jpg");
  background-size: cover;
  background-position: bottom;
  font-family: Axiforma, sans-serif;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  line-height: 40px;
  background: #fafafa;
  box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-link {
  transition: all 0.2s;
  color: #999999;
  display: block;
  padding: 0 20px;
}

/* removes text decoration on all links */
li a:visited {
  color: #999999;
}

li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #2691d9;
  text-decoration-thickness: 3px;
  color: #999999;
}

li > a:active {
  color: #1a1a1a;
}

.btn {
  padding: 10px 3px;
  border-radius: 8px;
}

.btn-lg {
  padding: 10px 60px;
}

.bg-light-blue {
  background: #d2ebf9;
}

.white {
  color: #fff;
}

.blue {
  color: #2691d9;
}

.not-visible {
  display: none;
}

.error {
  background: red;
  text-align: center;
  color: white;
  padding: 20px;
  display: none;
  margin-bottom: 30px;
}

.show {
  display: block;
}

.ee {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 40%;
  margin: auto;
  margin-top: 30px;
  background-color: #fbfbfb;
  text-align: center;
  padding: 40px 20px;
}

label {
  background-color: indigo;
  color: white;
  padding: 10px 60px;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 1rem 0;
  display: inline-block;
}

#file-chosen {
  display: block;
}

.btn-primary {
  background: #b57ce9;
  padding: 10px 60px;
}

.continue {
  display: inline-block;
  background-color: #2691d9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 10px 60px;
  color: #fff;
  font-weight: 700;
  transition: all 0.4s;
  display: none;
}

.continue:hover {
  padding: 10px 80px;
  background: darkblue;
  color: #fff21a;
  font-size: 18px;
}

#progress {
  overflow: hidden;
  margin: 20px auto 10px;
}

.progress {
  border-radius: 8px;
  background-color: rgb(212, 204, 204);
}

.bg-success {
  font-size: 15px;
  background-color: #1a072c;
  text-align: center;
  color: white;
  border-radius: inherit;
}

/* SPREAD SHEET */
.sep {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: darkblue;
  margin-bottom: 30px;
  padding: 20px 40px;
}

#arrow * {
  color: #350f57;
  color: white;
  font-size: 25px;
}

a#on-arrow:focus {
  color: #1a1a1a;
}

.are {
  display: flex;
  gap: 20px;
}
.are button {
  display: inline-block;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  outline: none;
}

/* 
.rec-cont {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rec-within {
  display: flex;
  flex-direction: row;
}

.rec-one {
  background: rgba(250, 250, 250, 0.72);
  backdrop-filter: blur(28px);
  border-radius: 16px;
  width: 496px;
  height: 360px;
  margin: 10px;
}

#imgOne {
  width: 160px;
  height: 160px;
  border: 2px solid #2691d9;
  border-radius: 16px;
  margin-left: 2rem;
  margin-top: 2rem;
  position: relative;
}

#imgTxt {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #171717;
  width: 144px;
  margin-left: 1.8rem;
  position: relative;
}

.icon {
  position: relative;
  left: 250px;
  bottom: 35px;
}

.drag {
  position: relative;
  left: 290px;
  bottom: 71px;
  font-weight: 400;
  font-size: 14px;
  color: #171717;
}

.line-or {
  position: relative;
  left: 280px;
  bottom: 55px;
}

.line {
  width: 48px;
  border: 1px solid #999999;
  margin-bottom: 0.6px;
}

#or {
  font-weight: 400;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.buttons {
  position: relative;
  left: 250px;
  bottom: 35px;
}

.browse-button {
  background: #b57ce9;
  border: none;
  border-radius: 8px;
  width: 106px;
  height: 32px;
}

.enter-url-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  color: #b57ce9;
  margin-left: 15px;
}

.continue-button {
  position: relative;
  margin-top: 20px;
  left: 580px;
  width: 232px;
  height: 48px;
  border: none;
  background-color: #2691d9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

#continue-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
} */

.content {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
table,
th,
td {
  border: 1px solid white;
}

table {
  background-color: rgba(41, 32, 32, 0.342);
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 40px;
  overflow: scroll;
  max-width: 50% !important;
  width: 50% !important;
  /* display: flex;
  flex-direction: column; */
  height: calc(100vh - 30vh);
  table-layout: fixed;
}

tr > :first-child {
  text-align: center;
}

/* tr {
  width: 100%;
} */

th,
td {
  padding: 10px;
  /* flex-grow: 2; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

thead th {
  background-color: darkblue;
  color: white;
  text-align: left;
}
