html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Axiforma, sans-serif;
}

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.error-content img {
  width: 143px;
}

.error-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 36px;
  text-align: center;
}

.error-content p {
  max-width: 50%;
  font-size: 20px;
  font-weight: 400;
  color: #262626;
  line-height: 30px;
  margin-bottom: 36px;
  text-align: center;
}

.error-content a {
  padding: 8px 32px;
  background-color: #2691d9;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .error-content h1 {
    font-size: 5rem;
  }
  .error-content p {
    max-width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .error-content {
    padding: 50px 10px;
  }
  .error-content p {
    max-width: 90%;
  }
}
