{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.cdnfonts.com/css/axiforma" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/Frame 58827 copy.png' %}" />
    <link rel="stylesheet" href="{% static './general/Stylesign.css' %}" />
    <link rel="stylesheet" href="{% static './general/message.css' %}" />
    <title>Sign In - Forgot Password</title>
</head>

<body>
    <div class="one">
        <section class="section1">
            <a href=" {% url 'base:home' %} ">
                <img class="header1" src="{% static './images/firstlogo.png' %}" alt="">
            </a>
            <h2 class="three1">Accuracy at your fingertip</h2>
            <p class="three2">SimpliXL lets you upload your excel files and compare its content from anywhere!</p>
            <div class="grad1"></div>
            <div class="grad2"></div>
            <div class="grad3"></div>
        </section>
        <section class="section2">
            <div>
                <a href=" {% url 'base:home' %} ">
                    <img class="fivelogo" src="{% static './images/secondlogo.png' %}" alt="">
                </a>
            </div>
            <div class="e2">.</div>
            <div class="e1">.</div>
            <h2 class="five1" id="fpw">Forgot Password</h2>
            <div class="f">
                <p class="five2" id="fpw2">Please enter your registered email address. We'll send instructions to help
                    reset your password.</p>

                <form class="six" method="POST" id="form2">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="message error">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="f1">
                        <label class="f1" for="email">
                            <h4>Email Address</h4>
                        </label>
                    </div>
                    <input class="f2" type="email" name="email"
                        value=" {% if form.email.value %}{{ form.email.value }}{% endif %} " autocomplete="email"
                        maxlength="254" required="" id="id_email">

                    <button class="eight" id="btn1 btna" type="submit">Reset Password</button>
                </form>
                <p class="nine" id="p1">Back to <a href="{% url 'accounts:login' %}">Sign In</a></p>
            </div>
        </section>
    </div>
</body>

</html>