{% extends 'home/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <div class="error">
            {% for field in form %}
               {% for error in field.errors %} 
                  <p>{{ error }}</p>
               {% endfor %}
           {% endfor %}
        </div>
        {% endif %}

    Email:
    <br> 
    <input type="email" name="email" value=" {% if form.email.value %}{{ form.email.value }}{% endif %} " autocomplete="email" maxlength="254" required="" id="id_email">
    <br>
    <button type="submit">Reset Password</button>
  </form>
{% endblock %}