.main{
    display: flex;
    flex-direction: row;
}

.first{
    width: 20%;
    height: 100vh;
    background: #F7F2FD;
}

.logo{
justify-content: center;
align-items: center;
padding-left: 10px;
padding-top: 20px;
gap: 4px;
position: absolute;
width: 180px;
height: 48px;
}

.second{
    width: 70%; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: center;
}

.hand{
    width: 72px;
    height: 72px;
    padding-top: 50px;

    
}

.s1{
    margin-top: 150px;
    width: 286px;
    height: 68px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    justify-content: center;
    margin: 10px;
    padding-top: 50px;
}

.s{
    display: flex;
    justify-content: center;
}

s2{
    width: 570px;
    height: 36px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #262626;
}

s3{
    width: 317px;
height: 24px;
font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #262626;
}

button{
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    width: 236px;
    height: 52px;
    background: #2691D9;
    border-color:  #2691D9;;
    border-radius: 8px;  
    margin-top: 150px;
}