* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  min-height: 100vh;
  display: flex;
}

aside {
  background: #f7f2fd;
  width: 15%;
  padding: 20px;
  padding-top: 5em;
}

main {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .flex {
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
}

.flex img {
  width: 30%;
} */

h1 {
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
}
.btn {
  background: #2691D9;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 120px 0 20px;
}

@media screen and (max-width: 450px) {
  aside {
    display: none;
  }

  main {
    /* background: rgb(36, 36, 94); */
    width: 100%;
    /* padding: 30px; */
  }

  .sideline {
    max-width: 80%;
    margin: auto;
  }

  .sam a {
    display: block;
    margin: 10px 0;
  }
}
