* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  min-height: 100vh;
  display: flex;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  font-size: 56px;
  line-height: 68px;
  font-weight: 700;
  color: #0D0D0D;
}

p {
  width: fit-content;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #262626;
  margin-top: 30px;
}


.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #2691D9;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  width: 232px;
  height: 48px;
  margin-top: 100px;
  margin-left: 55px;
  gap: 16px;
  align-items: center;
}

@media screen and (max-width: 450px) {
  aside {
    display: none;
  }

  main {
    /* background: rgb(36, 36, 94); */
    width: 100%;
    /* padding: 30px; */
  }

  .sideline {
    max-width: 80%;
    margin: auto;
  }

  .sam a {
    display: block;
    margin: 10px 0;
  }
}
