* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Axiforma, sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #fcfcfc;
}

/* adding stlyes to the navigation bar*/
li,
ul {
    list-style: none;
    margin: auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 90%;
    margin: auto;

}

.row {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
}

.col-6 {
    width: 50%;
    flex-basis: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    line-height: 40px;
    background: #fcfcfc;
    box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
    padding-left: 200px;
}

.navbar {
    display: flex;


}

.nav-link {
    padding: 0 20px;
    display: block;
    transition: all 0.2s;
    color: #999999;

}

/* removes text decoration on all links */
li a:visited {
    color: #757472;
}

/*adds some animations*/
li a:hover {
    text-decoration-line: underline;
    text-decoration-color: #2691d9;
    text-decoration-thickness: 3px;
    color: #302e2b;
}

li>a:active {
    color: #1a1a1a;
}

.user-icon {
    margin: auto;
}

/*center */
#prof {
    width: 137px;
    height: 28px;
    left: 780px;
    top: 128px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-left: 42rem;
    margin-top: 3rem;
}

.user-image {
    width: 142px;
    height: 142px;
    left: 777px;
    top: 208px;
    padding-top: 50px;
    margin-left: 42.6rem;

}

.Tbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 232px;
    height: 103px;
    left: 732px;
    top: 390px;
    margin-left: 40rem;
    margin-top: 6rem;
    cursor: pointer;
}

.btn {
    padding: 8px 16px;
    gap: 16px;
    width: 232px;
    height: 48px;
    background: #2691D9;
    border-radius: 8px;
    border: none;

}

.txt,
.txts1,
.txts2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.btn1 {
    align-items: center;
    padding: 11.5px 0px;
    gap: 16px;
    width: 115px;
    height: 47px;
    border-radius: 6px;
}

.txt1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2691D9;
}

.txt1:hover {
    text-decoration-line: underline;
    text-decoration-color: #800080;
    text-decoration-thickness: 3px;

}

.contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 614px;
    height: 202px;
    margin-left: 29rem;
    margin-top: 3rem;
}
.name-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 614px;
    height: 77px;
}

#fnames {
    width: 614px;
    height: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1A1A1A;
}

#fname {
    padding: 11.5px 16px;
    gap: 8px;
    width: 614px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
}

.email-side {
    padding: 0px;
    gap: 8px;
    width: 614px;
    height: 77px;
}

#emails {
    width: 614px;
    height: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #1A1A1A;
}

#email {
    padding: 11.5px 16px;
    gap: 8px;
    width: 614px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
}
input:placeholder-shown{
    Font-family: Axiforma , sans-serif;
    Font-size: 16px;
    Line-height: 20px;
   Color :#CCCCCC;
}
.Dbuttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    width: 496px;
    height: 48px;
    margin-left: 32rem;
    margin-top: 5rem;
}

.btns1 {
    padding: 8px 16px;
    gap: 16px;
    width: 198px;
    height: 48px;
    background: #E41D1D;
    border-radius: 8px;
    border: none;
}

.btns2 {
    padding: 8px 16px;
    gap: 16px;
    width: 198px;
    height: 48px;
    background: #2691D9;
    border-radius: 8px;
    border: none;
}

button:hover {
    cursor: pointer;
}

/* second section :dashboard menu panel - left column*/
.left-column {
    background-color: #F7F2FD;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 17%;
    margin: auto;
    line-height: 100px;
    height: 67.6rem;

}

#logo {
    margin-top: 38px;
    padding-top: 2.4rem;
    margin-left: 1rem;
    align-items: center;
}

#profileImage {
    margin-top: 20px;
    margin-left: 3.7rem;
    align-items: center;
}

#name {
    position: relative;
    bottom: 1.5rem;
    left: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

#line {
    width: 220px;
    margin-bottom: 2rem;
}

.dashboard {
    position: relative;
    bottom: 3rem;
    left: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

#dashboard {
    position: relative;
    top: 0.4rem;
}

.tools {
    position: relative;
    top: 0.5rem;
    left: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

#tools,
#settings,
#support,
#logout {
    position: relative;
    top: 0.3rem;
}

#collapse {
    position: absolute;
    right: 0;
    top: 33.5rem;
}

#line1 {
    width: 200px;
    position: relative;
    bottom: 7.05rem;
}

.setting {
    position: relative;
    bottom: 6rem;
    left: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.support {
    position: relative;
    bottom: 2rem;
    left: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

#line2 {
    width: 220px;
    position: relative;
    bottom: 2rem;
}

.logout {
    position: relative;
    left: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.left-column>a:visited {
    color: #4D4D4D;
}