* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Axiforma, sans-serif;
  background-color: #e5e5e5;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 40px;
  background: #fcfcfc;
  box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
}

.navbar {
  display: flex;
}

.nav-link {
  padding: 0 20px;
  display: block;
  transition: all 0.2s;
}

/* removes text decoration on all links */
li a:visited {
  color: #757472;
}

li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #2691d9;
  text-decoration-thickness: 3px;
  color: #302e2b;
}

li > a:active {
  color: #1a1a1a;
}

.btn {
  padding: 10px 3px;
  border-radius: 8px;
}

.btn-lg {
  padding: 10px 60px;
}

.bg-blue {
  background-color: #2691d9;
  border-radius: 8px;
}

.bg-light-blue {
  background: #d2ebf9;
}

.white {
  color: #fff;
}

.blue {
  color: #2691d9;
}

/* body and main */
.sec-one {
  display: flex;
  flex-direction: column;
  margin: 0px 80px 0px 80px;
  align-items: center;
  width: auto;
  }
.img{
  transform: scale(0);
  opacity: 0;
  animation: grow 2s ease-out 0s forwards;
}
@keyframes grow{
  10%{
     transform: scale(0.1);
     opacity: 1; 
  }
  100%{
     transform: scale(1.0);
     opacity: 1; 
  }
}
#about-us{
  font-weight: 900;
  font-size: 0px;
  position: absolute;
  top: 0;
  margin-top: -200px;
  color: #F4F9FD;
  animation:  about 2s ease-out 0s forwards;
}
@keyframes about{
  100%{
     top: 540px;
     font-size: 56px;
  }
}
#we-changing{
  width: 900px;
  height: 88px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  position: absolute;
  top: 620px;
  margin-top: -200px;
  color:#D2EBF9;
  opacity: 0;
  animation: we 2s ease-out 1.5s forwards;
}
@keyframes we{
  100%{
     opacity: 1;
  }
}
.sec-two {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sec-two-cont {
  display: flex;
  padding-left: 100px;
  margin: 80px 0px 80px 50px;
}

#our-story-img {
  padding-left: 20px;
  height: 650px;
}

.our-story-body {
  width: 540px;
  height: 650px;
  background-color: #f4f9fd;
  margin-left: 60px;
  padding: 64px 34px 72px 35px;
}

#our-story-text {
  line-height: 44px;
}

#our-mission-text {
  width: 457px;
  height: 270px;
  padding-top: 28px;
  line-height: 28px;
}

#services-text {
  width: 471px;
  height: 120px;
  line-height: 28px;
}

.sec-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.sec-four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}

#meet-team {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
}

#professionals {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.name-box-cont{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.name-box-cont:hover{
  transform: scale(1.2);
}
.name-box{
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  margin-top: -80px;
  margin-bottom: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 24px 24px 0px 0px;
  align-items: center;
  padding: 10px;
}

.icon-line{
  margin-top: 39px;
  padding-top: 10px;
  border-top: 1px solid #E9E9E9;
  word-spacing: 10px;
}

#view-all-cont{
  text-align: center;
  padding-bottom: 80px;
}

button.secondary{
  width: 200px;
  height: 80px;
  text-decoration: none;
  border: none;
  background: #D2EBF9;
  border-radius: 8px;
}

#view-all{
  font-family: 'Axiforma', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #2691D9;
}

.sec-five{
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  margin: 0px 80px 0px 80px;
  padding: 24px 0px 24px 0px;
  align-items: center;
  line-height: 64px;
}

.sec-five>h1{
  font-size: 32px;
}

.sec-five>p{
  font-size: 40px;
}

.primary{
  margin-top: 36px;
  width: 200px;
  height: 80px;
  text-decoration: none;
  border: none;
  background: #2691D9;
  border-radius: 8px;
  animation: up 5s ease-in 0s infinite;
}

@keyframes up {
     0%{
      background: aliceblue;
     } 
     50%{
      background: skyblue;
     }
     100%{
      background: #2691D9;
     }
}
#sign-up{
  font-family: 'Axiforma', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  animation: txt 5s ease-in 0s infinite;
}
@keyframes txt {
      0%{
        font-size: 12px;
      }
     50%{
      font-size: 24px;
     }
     100%{
      font-size: 36px;
     }
}

/* I added the footer code from here */
.footer-container {
  padding: 40px 0;
  background: #081d2b;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-heading {
  width: 20%;
  flex-basis: 20%;
}

.image {
  max-width: 100%;
  width: 50%;
  /* width: 30px; */
}

#logo-text {
  max-width: 80%;
}

.footer a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

#footer-email {
  padding: 20px 10px;
  width: 95%;
  border-radius: 10px 0 0 10px;
  border: none;
}

#footer-email-btn {
  width: 20%;
  background-color: #2691d9;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}

.line {
  text-align: center;
  border-top: 1px solid white;
  padding: 20px 0;
  margin-top: 20px;
}
