* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Axiforma, sans-serif;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-6 {
  width: 50%;
  flex-basis: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 40px;
  background: #fcfcfc;
  box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
}

.navbar {
  display: flex;
}

.nav-link {
  padding: 0 20px;
  display: block;
  transition: all 0.2s;
}

/* removes text decoration on all links */
li a:visited {
  color: #757472;
}

li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #2691d9;
  text-decoration-thickness: 3px;
  color: #302e2b;
}

li > a:active {
  color: #1a1a1a;
}

.btn {
  padding: 10px 3px;
  border-radius: 8px;
}

.btn-lg {
  padding: 10px 60px;

}

.bg-blue {
  background-color: #2691d9;
  height: 40px;
  border-radius: 8px;
}
.bg-blue-btn{
  background-color: #2691d9;
  height: 40px;
  border-radius: 8px;
  width: 170px;
  text-align: center;
  margin-top: 0px;
}

.white {
  color: #fff;
}

.heading-btn {
  margin-top: 20px;
}
.btn-1 {
  width: 180px;
  height: 40px;
  background-color: #2691d9;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}
.btn-1 a{
  color: white;
}
.btn-2 {
  margin-left: 15px;
  height: 40px;
  width: 200px;
  position: absolute;
  border-radius: 8px;
  border: none;
  background-color: #d2ebf9;
  font-size: 14px;
}
.btn-2 a{
  color: #34a4e4;
}
.img-2{
  transform: scale(0.8);
}
section {
  padding: 30px 0;
  margin: 50px 0;
}

.sectionone .container {
  align-items: center;
  padding: 50px 0;
}

.sectionone .container > div {
  width: 50%;
  flex-basis: 50%;
}

.sectionone .container > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

main .boost {
  /* font-weight: 500; */
  font-size: 12px;
  color: #f38707;
}

main .compare {
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #1a1a1a;
}

main .productivity {
  font-size: 20px;
  line-height: 30px;
  color: #302e2b;
  max-width: 80%;
}

#freeforever {
  color: #565855;
  font-size: 12px;
  margin-top: 10px;
}

.sectiontwo .container {
  justify-content: space-between;
}

.sectiontwo .container > div {
  width: 27%;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  padding: 40px;
  background: #fcfcfc;
  border-radius: 16px;
}
.sectiontwo h3 {
  font-size: 24px;
  color: #1a1a1a;
}

.sectiontwo p {
  text-align: center;
  color: #302e2b;
}

.sectionthree {
  display: flex;
}
#btn3{
  width: 150px;
  text-align: center;
  margin-top: 20px;
}
#everything {
  font-size: 40px;
  line-height: 48px;
  color: #0d0d0d;
}

.border-left {
  border-left: 3px solid blue;
  padding-left: 10px;
  max-width: 60%;
}

.sectionthree .col-6,
.sectionfour .col-6 {
  max-width: 40%;
}

.sectionfive {
  background: #f4f9fd;
}

.sectionfive .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 30px 0;
}

.sectionfive .container > div {
  width: 25%;
}

.sectionfive h3 {
  margin: 10px 0;
}

.sectionfive img {
  width: 50px;
}

.subfooter {
  text-align: center;
}

.subfooter p {
  max-width: 50%;
  margin: auto;
}

.subfooter h2 {
  font-size: 40px;
}

/* I added the footer code from here*/
.footer-container {
  padding: 40px 0;
  background: #081d2b;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-heading {
  width: 20%;
  flex-basis: 20%;
}

.image {
  max-width: 100%;
  width: 50%;
  /* width: 30px; */
}

#logo-text {
  max-width: 80%;
}

.footer a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

#footer-email {
  padding: 20px 10px;
  width: 95%;
  border-radius: 10px 0 0 10px;
  border: none;
}

#footer-email-btn {
  width: 20%;
  background-color: #2691d9;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}

.line {
  text-align: center;
  border-top: 1px solid white;
  padding: 20px 0;
  margin-top: 90px;
}

