* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Axiforma, sans-serif;
}

.header2 {
  background: #d2ebf9;
  padding: 70px 0;
}

.header2 div {
  width: 70%;
  margin: auto;
}

.header2 h2 {
  font-weight: 800;
  font-size: 30px;
}

#FAQ-blue {
  color: #2691d9;
}

.sectiontwo {
  width: 80%;
  margin: auto;
}

.section-two {
  width: 100%;
  display: flex;
  padding: 50px 0;
}

.sectiontwo * {
  margin: 15px 0;
}

.section-two > div {
  width: 50%;
}

#p-txt {
  color: #2691d9;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.one h2 {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  color: #0d0d0d;
}

#p-txt2 {
  color: #2d363f;
  font-size: 14px;
  max-width: 80%;
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
  padding: 20px;
  margin-bottom: 20px;
}

.a,
.a li {
  margin-left: 10px;
  list-style: disc;
}

footer {
  background: #081d2b;
  padding: 50px 0;
}

.footer-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-container > div {
  width: 50%;
}

.footer-container * {
  color: #fff;
}

.container1 h2 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
}

.container1 p {
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}

.footer-form {
  display: flex;
  gap: 10px;
}

#email {
  width: 70%;
  display: flex;
  padding: 11.5px 16px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #b3b3b3;
  background: transparent;
}

#submit {
  text-align: center;
  padding: 10px 40px;
  background: #2691d9;
  border-radius: 8px;
  border: none;
}

.form-txt {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .footer-container {
    width: 90%;
  }

  .footer-container h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 800px) {
  .sectiontwo {
    width: 85%;
  }

  .footer-container h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .sectiontwo {
    width: 90%;
  }

  .section-two {
    flex-direction: column;
    padding: 30px 0;
  }

  .section-two > div {
    width: 100%;
    text-align: justify;
  }

  #p-txt2 {
    color: #2d363f;
    font-size: 14px;
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-container > div {
    width: 100%;
  }

  .coont {
    margin-top: 20px;
  }

  .footer-form {
    flex-direction: column;
  }

  .footer-form * {
    width: 100%;
    display: block;
  }

  #email {
    width: 100%;
  }

  .header2 div {
    width: 90%;
    margin: auto;
  }
}
