html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Axiforma, sans-serif;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

header {
  background: #fcfcfc;
  box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
}

header .row {
  height: 60px;
  line-height: 60px;
  align-items: center;
}

.logo {
  display: flex;
}

.navbar {
  display: flex;
}

.nav-link {
  padding: 0 20px;
  display: block;
  transition: all 0.2s;
  color: black;
}

/* removes text decoration on all links */
.nav-link:hover {
  text-decoration-line: underline;
  text-decoration-color: #2691d9;
  text-decoration-thickness: 3px;
  color: #302e2b;
}

.nav-link:active {
  color: #1a1a1a;
}
.hamburger {
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  left: 45%;
  display: none;
  transform: translate(-45%);
  cursor: pointer;
}

.btn {
  padding: 10px 3px;
  border-radius: 8px;
}

.btn-lg {
  padding: 10px 60px;
}

.bg-blue {
  background-color: #2691d9;
  border-radius: 8px;
}

.bg-light-blue {
  background: #d2ebf9;
}

.white {
  color: #fff;
}

.blue {
  color: #2691d9;
}

.show {
  display: block !important;
}

@media screen and (max-width: 840px) {
  header {
    position: relative;
  }
  .navbar {
    position: absolute;
    left: 0;
    top: 60px;
    display: none;
    background-color: #d8d0d0e8;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.585);
  }
  .navbar .nav-link {
    padding-left: 5%;
  }
  .navbar .nav-link:hover {
    display: block;
    width: 100%;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .header .container {
    width: 95%;
  }

  .authenticate a {
    font-size: 13px;
  }
}

.none {
  display: none;
}

.tos-content {
  margin: 70px 0 50px;
  line-height: 45px;
  color: #000000;
}

.tos-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.tos-content p {
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 30px;
}

.tos-content a {
  color: blue;
}

.tos-content a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin: 100px 0;
}

.button-container a {
  padding: 10px 64px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
}

.button-container .decline-button {
  background-color: #d2ebf9;
  color: #2691d9;
}

.button-container .accept-button {
  background-color: #2691d9;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }

  .tos-content {
    line-height: 30px;
  }

  .button-container {
    margin: 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .button-container {
    flex-wrap: wrap;
    text-align: center;
  }

  .button-container a {
    display: block;
    width: 100%;
  }
}
