<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">-
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="http://fonts.cdnfonts.com/css/axiforma" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/login.css' %}">
    <title>Sign In</title>
</head>

<body>
    <main>
        <section>
            <div class="bigbox">
                <div class="left hand">
                    <div class="logo">
                        <img src="./Group 3594.png" alt="simpliXL"  id="whiteLogo">
                    </div>
                    <!--the blue background gradients-->
                   <div class="gradients">
                       <div class="gradient1">1</div>
                        <div class="gradient2">2</div>
                    <div class="gradient3">3</div>
                   </div>
                   
                   <div class="text">
                    <h2 class="header">Accuracy at your fingertips.</h2>
                    <p class="first-paragraph">SimpliXL lets you upload your excel files <br> and compare its
                        content
                        from anywhere!</p>
 
                    </div>
                    <div class="side-image">
                        <p class="side-img">Picture of our dashboard</p>
                    </div>

                </div>
            </div>
        </section>


        <!--for right hand side : the welcome back-->
        <section>
            <div class="right hand">
                <div class="logo">       
                 <img src="./Group 3593 (1).png"  alt="simpliXL" id="imgParagraph"><p id="logoText">SimpliXL</p>
            </div>
                <!--the orange circle at the right-->
                    <p class="orange"><b>.</b></p>
            
                    <div class="upper-text">
                           <!--the green circle at the left before the header-->
                           <p class="green"><b>.</b></p>
                        <h1 class="heading">Welcome Back!</h1>
                        <p class="paragraph">Please enter your information</p>
                    </div>
                    
                             <!--login /signIn form-->
                    <div class="form">
                        <table class="form">
                            
                        <form method="POST" class="login-form">
                             {% if 'next' in request.GET  %}
                                 <div class="error">
                                  Permission Denied, Login
                                  </div>
                            {% endif %}
                            
                            {% if form.non_field_errors %}
                                <div class="error">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="input gap">
                                <label for="email" id="label" class="gap">Email</label>
                                <input type="email" name="username" autofocus="" placeholder="Enter your email address" autocomplete="username" required=""
            value="{% if form.username.value %} {{form.username.value}} {% endif %}" 
            >
                            </div> 
                            <div class="input gap">
                                <label for="password" id="label" class="gap">Password</label>
                                <input type="password" name="password" autocomplete="current-password" placeholder="Enter your password" required="">
                                <img id="google" src=".\eye.png" alt="toggle-password" class="eye">
                            </div>

                            <div class="align">
                                <a href="forgotpassword.html" class="align">Forgot password?</a>
                            </div>

                             
                            <div class="checkbox">
                                <input type="checkbox" name="checkbox" id="checkbox" value="checkbox">
                                <label id="checkbox">Remember<span id="me">me</span></label>
                            </div>
                        

                            <button type="submit" class=" btn signin">Sign into my account</button>

                              <p id="signUp">Don't have any account? <a href="#" class="new">Sign Up</a></p>
                            
                            <div class="gap line">
                                <p class="or"> Or </p>
                            </div>

                            <button type="submit" class="last btn"><img id="google"
                                    src=".\Google (icon — Colour).png"
                                    alt="Google">
                                <span id="gogleText"> Sign In with Google</span></button>

                                   <!--the purple circle at the left before sign up link-->
                               <p class="purple"><b>.</b></p>
                        </form>
                        </table>
                    </div>   
        </section>
        </div>
         
        </div>

    </main>
</body>

</html>
