{% extends "home/base.html" %}

{% block title %} Register {% endblock title %}

{% block content %}
    <h1>Register</h1>
    <hr>

    <form action="" method="POST" class="login-form">
        {% if form.errors %}
        <div class="error">
            {% for field in form %}
               {% for error in field.errors %} 
                  <p>{{ error }}</p>
               {% endfor %}
           {% endfor %}
        </div>
        {% endif %}


        {% csrf_token %}
        <p><input type="text" name="first_name" value="{% if form.first_name.value %} {{form.first_name.value}} {% endif %}" 
            required="" placeholder="Enter your first name"></p>
        <p><input type="text" name="last_name" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}" 
            required="" placeholder="Enter your last name"></p>
        <p><input type="email" name="email" value=" {% if form.email.value %}{{form.email.value}}{% endif %} " 
            required=""  placeholder="Enter your email address"></p>
        <p><input type="password" name="password1" required=""  placeholder="Enter your password"></p>
        <p><input type="password" name="password2" required=""  placeholder="Confirm your password"></p>
        
        <button type="submit" class="submitBtn">Register</button>
    </form>
{% endblock content %}

