@import url('http://fonts.cdnfonts.com/css/axiforma');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Axiforma, sans-serif;
  background-color: #E5E5E5;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-6 {
  width: 50%;
  flex-basis: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 40px;
  background: #fcfcfc;
  box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
}

.navbar {
  display: flex;
}

.nav-link {
  padding: 0 20px;
  display: block;
  transition: all 0.2s;
}

/* removes text decoration on all links */
li a:visited {
  color: #757472;
}

li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #2691d9;
  text-decoration-thickness: 3px;
  color: #302e2b;
}

li>a:active {
  color: #1a1a1a;
}

.btn {
  padding: 10px 3px;
  border-radius: 8px;
}

.btn-lg {
  padding: 10px 60px;

}

.bg-blue {
  margin-top: 0.2rem;
  background-color: #2691d9;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 38px;
  height: 30px;
  width: 100px;
}

.bg-light-blue {
  background: #d2ebf9;
}

.white {
  color: #fff;
}

.blue {
  color: #2691d9;
}

.conatct-form {
  width: 100px;
  height: 30px;
  font-family: 'Axiforma';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: #262626;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 120px 0px;
  padding: 36px 0px;
  background-color: #fff;
}

.contact-content {
  text-align: center;
}

.contact-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #3E3B3B;
}

.contact-content p {
  font-size: 18px;
  line-height: 28px;
  color: #3E3B3B;
  font-weight: 500;
  margin-bottom: 70px;
}

.main-contact-container {
  display: flex;
  gap: 64px;
  flex-direction: row;
}

.main-contact-container .imag {
  flex: 50%;
  background: url("./images/background.png");
  background-repeat: no-repeat;
  height: 856px;
  color: #FCFCFC;
  padding: 56px 80px;
}

#locdot {
  height: 5px;
  width: 5px;
  position: relative;
  top: 0.56rem;
  right: 3.4rem;
}

#adress {
  position: relative;
  right: 3rem;
  bottom: 0.6rem;
  width: 500px;

}

.imag>p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 100px;
}

.info-container {
  display: flex;
  gap: 40px;
}

.info-container img {
  width: 24px;
  height: 24px;
}

.info-container p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 60px;
}

.main-contact-container .contact-form {
  padding: 150px 116px 150px 0px;
  width: 600px;
}

label {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #262626;
}

input,
textarea {
  width: 117%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #999999;
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #CCCCCC;
}

input[type="text"] {
  margin-bottom: 44px;
}

.form-f {
  margin-bottom: 44px;
}

textarea {
  height: 180px;
}

.contact-form {
  position: relative;
  right: 3rem;
}

button {
  width: 117%;
  height: 48px;
  margin-top: 44px;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #2691d9;
  border: none;
}

.blubox p {
  position: absolute;
  width: 560px;
  height: 72px;
  left: 80px;
  top: 56px;
  font-family: 'Axiforma';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  /* line-height: 36px; */
  color: #FFFFFF;
}

/* I added the footer code from here*/
.footer-container {
  padding: 40px 0;
  background: #081d2b;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-heading {
  width: 20%;
  flex-basis: 20%;
}

.image {
  max-width: 100%;
  width: 50%;
  /* width: 30px; */
}

#logo-text {
  max-width: 80%;
}

.footer a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

#footer-email {
  padding: 20px 10px;
  width: 95%;
  border-radius: 10px 0 0 10px;
  border: none;
}

#footer-email-btn {
  width: 20%;
  background-color: #2691d9;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}

.line {
  text-align: center;
  border-top: 1px solid white;
  padding: 20px 0;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .imag {
    display: none;
  }

  .main-contact-container .contact-form {
    padding: 20px;
  }

  .contact-form {
    flex: 100%;
  }

}