{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title%}{% endblock title%}</title>

    <link rel="stylesheet" href=" {% static 'members/css/style.css' %} ">
</head>
<body>
    {% include 'members/nav.html' %}

    <div class="content">
        
        <aside>
            <a href=" {% url 'members:home' %} ">Dashboard</a>

            <h2>Account</h2>
            <a href=" {% url 'members:profile' %} ">Profile</a>
            <a href=" {% url 'members:delete' request.user.id %} ">Delete</a>


            <h2>Files</h2>
            <a href=" {% url 'members:upload' %} ">Upload</a>

            <h2>Compare</h2>
            <a href="#">Download</a>
        </aside>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </div>

</body>
</html>