{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock title%}</title>

    <link href="http://fonts.cdnfonts.com/css/axiforma" rel="stylesheet" />

    {% block css %}{% endblock css %}

    <link rel="stylesheet" href=" {% static 'general/message.css' %} " />
    <link rel="stylesheet" href=" {% static 'members/css/style.css' %} " />
  </head>

  <body>
    <aside class="left">
      <div class="left-column">
        <div class="side-logo">
          <a href=" {% url 'base:home' %} ">
            <img
              src="{% static './images/Brand Logo (big).png' %}"
              alt="logo"
              id="logo"
            />
          </a>
        </div>

        <div class="user">
          <img
            src="{% static './images/Frame 59225.png' %}"
            alt="profile image"
            id="profileImage"
          />
          <p id="name">{{ user.full_name | upper }}</p>
        </div>

        <div class="cate">
          <a href=" {% url 'members:home' %} " class="dashboard">
            <p>
              <img
                src="{% static './images/element-2.png' %}"
                alt="dashboard"
                id="dashboard"
              />
              Dashboard
            </p>
          </a>
          <a href="{% url 'members:tools' %}" class="tools">
            <p>
              <img
                src="{% static './images/category-2.png' %}"
                alt="tools"
                id="tools"
              />
              Tools
            </p>
          </a>
        </div>

        <div class="cate">
          <a href="{% url 'members:profile_dash' user.id %}" class="setting">
            <p>
              <img
                src="{% static './images/setting-2.png' %}"
                alt="setings"
                id="settings"
              />
              Settings
            </p>
          </a>
          <a href="{% url 'base:contact' %}" class="support">
            <p>
              <img
                src="{% static './images/24-support.png' %}"
                alt="support"
                id="support"
              />
              Support
            </p>
          </a>
        </div>
        <div class="cate">
          <a href="{% url 'accounts:logout' %}" class="logout">
            <p>
              <img
                src="{% static './images/logout.png' %}"
                alt="logout"
                id="logout"
              />
              Log out
            </p>
          </a>
        </div>
      </div>
    </aside>

    <main>
      {% include 'members/nav.html' %}

      <div class="main-container">
        <div class="messages">
          {% if messages %} {% for message in messages %}
          <p class="message {{ message.tags }} ">{{message | safe}}</p>
          {% endfor %} {% endif %}
        </div>

        {% block content %}{% endblock content %}
      </div>
    </main>
  </body>
</html>
