{% extends 'members/base.html' %}

{% block title %}Upload History{% endblock title %}

{% block content %}
    <h1>Edited Files History</h1>

    <table border=1>
        <thead>
            <tr>
                <th>S/N</th>
                <th>File Name</th>
                <th>Date Uploaded</th>
                <th colspan=4>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> {{ upload.file_name }}</td>
                    <td> {{ upload.date_created }}</td>
                    {% comment %} <td><a href=" {% url 'members:file' upload.file_name %} ">Open</a></td> {% endcomment %}
                    <td><a href="{% url 'members:delete-corrected' upload.id %}">Delete</a></td>
                    <td> <a href="{% url 'members:download-file' upload.file_url %}" class="btn btn-dark float-right">Download</a> </td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table> 

    

{% endblock content %}




