{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.cdnfonts.com/css/axiforma" rel="stylesheet">
  <link rel="stylesheet" href="{% static './base/css/NewUser.css' %}">
  <title>UserPage</title>
</head>

<body>
  <header>
    <div class="container row">
      <ul class="navbar">
        <li><a href="#" class="nav-link">Explore</a></li>
        <li><a href="#" class="nav-link">Files</a></li>
        <li><a href="{% url 'base:how_to' %}" class="nav-link">Demo</a></li>
        <li><a href="{% url 'base:help' %}" class="nav-link">Help</a></li>
      </ul>
      <div class="user-icon row">
        <img src="{% static './images/profile-circle.svg' %}" alt="user-icon">
      </div>
    </div>
  </header>

  <main>
    </section>
    <section class="center">
      <div class="image-row">
        <div class="first">
          <h3 id="complete">Welcome, {{ request.user.first_name }}</h3>
          <p id="complete1">You are yet to work on a file. Here are some actions you could take:</p>
        </div>
        <div class="images">
          <a href="#"><img src="{% static './images/Mask group.png' %}" alt="compare files" id="imgOne">
            <p id="txt">Compare files</p>
          </a>
          <a href="#"> <img src="{% static './images/Mask groups.png' %}" alt="Take a tour" id="imgTwo">
            <p id="txt1">Take a tour</p>
          </a>
        </div>
      </div>
    </section>
    
    <section class="left">
      <div class="left-column">
        <img src="{% static './images/Brand Logo (big).png' %}" alt="logo" id="logo">
        <p> <img src="{% static './images/Frame 59225.png' %}" alt="profile image" id="profileImage"></p>
        <p id="name">Danjuma Tyson</p>
        <img src="{% static './images/Line 66.png' %}" alt="line" id="line">

        <p class="dashboard"><a href="#"><img src="{% static './images/element-2.png' %}" alt="dashboard" id="dashboard"> Dashboard</a>
        </p>
        <p class="tools"> <a href="#"><img src="{% static './images/category-2.png' %}" alt="tools" id="tools"> Tools </a>

        <p> <a href="#"><img src="{% static './images/Group 3619.png' %}" alt="collapse icon" id="collapse"></a> </p>
        <img src="./images/Line 66.png" alt="line" id="line1">

        <p class="setting"><a href="#"><img src="{% static './images/setting-2.png' %}" alt="setings" id="settings"> Settings</a></p>
        <p class="support"> <a href="#"><img src="{% static './images/24-support.png' %}" alt="support" id="support"> Support</a></p>
        <img src="{% static './images/Line 66.png' %}" alt="line" id="line2">

        <p class="logout"> <a href="#"><img src="{% static './images/logout.png' %}" alt="logout" id="logout"> Log out</a></p>

      </div>
    </section>
    <section class="right">
      <div class="right-column">

        <div class="quick-actions">
          <p id="top">Quick Actions</p>
          <div class="uploads">
            <p><a href="#"><img src="{% static './images/arrow-right.png' %}" alt="arrow" id="arrow"> 1 File Upload</a></p>
            <img src="./images/Line 66.png" alt="line" id="line3">
            <p><a href="#"><img src="{% static './images/arrow-right.png' %}" alt="arrow" id="arrow"> 2 Files Upload</a></p>
          </div>
          <div class="more-options">
            <p id="more">Upload Options</p>
            <div class="options">
              <p><a href="#"><img src="{% static './images/logos_google-drive.png' %}" alt="google drive" id="blueBg"> <span
                    class="prop">Google
                    Drive</span></a>
              </p>
              <p class="rowbg"><a href="#"><img src="{% static './images/logos_dropbox.png' %}" alt="Dropbox" id="blueBg">
                  <span class="prop"> Dropbox</span></a>
              </p>
              <p><a href="#"><img src="{% static './images/logos_microsoft-onedrive.png' %}" alt="one drive" id="blueBg" class="one">
                  <span class="prop1" id="drive">One Drive</span></a>
              </p>
              <p class="rowbg"><a href="#"><img src="{% static './images/akar-icons_laptop-device.png' %}" alt="this device"
                    id="blueBg"><span class="prop">This device</span></a></p>
            </div>
            <div class="feedback">
              <p class="giv">Give Feedback</p>
              <a href="#"><img src="{% static './images/Star 6.png' %}" alt="unclicked star" id="star"></a>
              <a href="#"><img src="{% static './images/Star 6.png' %}" alt="unclicked star" id="star"></a>
              <a href="#"><img src="{% static './images/Star 6.png' %}" alt="unclicked star" id="star"></a>
              <a href="#"><img src="{% static './images/Star 6.png' %}" alt="unclicked star" id="star"></a>
              <a href="#"><img src="{% static './images/Star 6.png' %}" alt="unclicked star" id="star"></a>
              <p contenteditable="true" id="rowbg"></p>

              <button type="submit" class="btn">Submit</button>
              <p class="req"><a href="#">Request New Feature</a> </p>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>
</body>

</html>


