{% load static %}

<header class="main-nav">
  <ul class="navbar">
    <li><a href="{% url 'members:welcome' %}" class="nav-link">Explore</a></li>
    <li><a href="{% url 'members:home' %}" class="nav-link">Files</a></li>
    <li><a href="{% url 'base:how_to' %}" class="nav-link">Demo</a></li>
    <li><a href="{% url 'base:help' %}" class="nav-link">Help</a></li>
  </ul>

  <div class="user-icon">
    <a href="#">
      <img src="{% static './images/profile-circle.svg' %}" alt="user-icon" />
    </a>
  </div>
</header>
