{% extends "members/base.html" %} {% load static %} {% block title%}User
Profile{% endblock title%} {% block css %}
<link rel="stylesheet" href=" {% static 'members/css/profile.css' %} " />
{% endblock css %} {% block content %}

<section class="center">
  <div class="center-row">
    <p id="prof">Edit Profile</p>
    <div class="user-image">
      <img src="{% static './images/Frame 59227.png' %}" alt="user-image" />
    </div>
    <div class="Tbuttons">
      <a href="#" class="btn txt"> Upload Photo </a>
      <a href="#" class="btn txt1">Remove Photo</a>
    </div>

    <div class="contain">
      <form action="" class="name-side">
        {% csrf_token %} {{ profile.full_name }} {{ profile.email }} {{
        user.full_name }} {{ user.email }} {{ user.id }} {% comment %}
        <label for="fname" id="fnames">{{ profile.full_name }}</label> {%
        endcomment %}
        <label for="fname" id="fnames">Full Name</label>
        <input
          type="text"
          id="fname"
          name="fullname"
          placeholder="Danjuma Tyson"
        />

        {% comment %}
        <label for="fname" id="emails">{{ profile.email }}</label> {% endcomment
        %}
        <label for="fname" id="emails">Email Address</label>
        <input
          type="email"
          id="email"
          name="emailaddress"
          placeholder="danjumatyson@gmail.com"
        />
      </form>

      <div class="Dbuttons">
        <a href=" {% url 'members:delete' user.id %} " class="btn txts1">
          Delete account
        </a>
        <button type="submit" class="btn txts2">Save Changes</button>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
