{% comment %} {% extends "members/base.html" %} {% endcomment %}

{% comment %} {% block title %} Settings {% endblock title %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}
    <h1>Settings</h1>

    <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           <div>
               <div >
                   <label for=""> Profile image</label>
                   {% comment %} <img width="100" height="100" src={{user_profile.profileimg.url}}> {% endcomment %}
                   <img width="100" height="100" src=>
                   <input type="file" name="image" value="" class="shadow-none bg-gray-100">
                </div>


                <div>
                    <label for="about">Company Name: </label>
                    {% comment %} <input type="text" name="bio" value={{user_profile.company}}> {% endcomment %}
                    <input type="text" name="bio" value=>
                </div>
               <br>
                <div>
                    <label for=""> Location: </label>
                    {% comment %} <input type="text" name="location" value={{user_profile.location}}> {% endcomment %}
                    <input type="text" name="location" value=>
                </div>
            <br>
           </div>

               <div>
                   <button> <a href="/">Cancel</a> </button>
                   <button type="submit"> Save </button>
               </div>
       </form>
{% comment %} {% endblock content %} {% endcomment %}