{% extends 'members/upload-base.html' %}
{% load static %}
{% block title %} Spreadsheet {% endblock title %}

{% block content %}
  <div class="sep">
      <div id="arrow">
        <a href=" {% url 'members:tools' %} " id="on-arrow"
          ><span id="larr">&larr;</span> Go back</a
        >
      </div>

      <div class="are">
        <button>Save</button>
        <button>Download</button>
      </div>
    </div>

    <div class="content">
      {{ form | safe }} 
      {{ form1 | safe }}
    </div>
    
{% endblock content %}

    

    
  </body>
</html>
