{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.cdnfonts.com/css/axiforma" rel="stylesheet" />
    <link rel="stylesheet" href="{% static './members/css/mytools.css' %}" />
    <title>MyTools</title>
  </head>
  <body>
    <header>
      <div class="container row">
        <ul class="navbar">
          <li><a href="#" class="nav-link">Explore</a></li>
          <li><a href="#" class="nav-link">Files</a></li>
          <li><a href="{% url 'base:how_to' %}" class="nav-link">Demo</a></li>
          <li><a href="{% url 'base:help' %}" class="nav-link">Help</a></li>
        </ul>
        <div class="user-icon row">
          <img
            src="{% static './images/profile-circle.svg' %}"
            alt="user-icon"
          />
        </div>
      </div>
    </header>
    <!-- users tools section-->
    <section class="your-tools">
      <p id="title">Your Tools</p>
      <div class="tool-box">
        <p class="bg">
          <img src="{% static './images/Frame 59278.png' %}" alt="files" />
          <span class="tols">Files</span>
        </p>
        <p class="bg">
          <img src="{% static './images/Frame 59278 (1).png' %}" alt="comp1" />
          <span class="tols">1 FIle Comparator</span>
        </p>
        <p class="bg">
          <img src="{% static './images/Frame 59278 (2).png' %}" alt="comp2" />
          <span class="tols">2 Files Comparator</span>
        </p>
        <p class="bg">
          <img src="{% static './images/Frame 59278 (3).png' %}" alt="merge" />
          <span class="tols">File Merger</span>
        </p>
        <p class="bg">
          <img
            src="{% static './images/Frame 5927.png' %}"
            alt="data viz"
          /><span class="tols"> Data Visualiser</span>
          <img src="{% static './images/lock.png' %}" alt="lock" id="loc" />
        </p>
        <p class="bg">
          <img
            src="{% static './images/Frame 59278 (4).png' %}"
            alt="adv analysis"
          />
          <span class="tols">Advanced Data Analysis </span>
          <img src="{% static './images/lock.png' %}" alt="lock" id="lock" />
        </p>
      </div>
    </section>

    <section class="left">
      <div class="left-column">
        <img
          src="{% static './images/Brand Logo (big).png' %}"
          alt="logo"
          id="logo"
        />
        <p>
          <img
            src="{% static './images/Frame 59225.png' %}"
            alt="profile image"
            id="profileImage"
          />
        </p>
        <p id="name">Danjuma Tyson</p>
        <img src="{% static './images/Line 66.png' %}" alt="line" id="line" />

        <p class="dashboard">
          <a href="{% url 'members:home' %}"
            ><img
              src="{% static './images/element-2.png' %}"
              alt="dashboard"
              id="dashboard"
            />
            Dashboard</a
          >
        </p>
        <p class="tools">
          <a href="{% url 'members:tools' %}"
            ><img
              src="{% static './images/category-2.png' %}"
              alt="tools"
              id="tools"
            />
            Tools
          </a>
        </p>

        <p>
          <a href="#"
            ><img
              src="{% static './images/Group 3619.png' %}"
              alt="collapse icon"
              id="collapse"
          /></a>
        </p>
        <img src="{% static './images/Line 66.png' %}" alt="line" id="line1" />

        <p class="setting">
          <a href="{% url 'members:settings' %}"
            ><img
              src="{% static './images/setting-2.png' %}"
              alt="setings"
              id="settings"
            />
            Settings</a
          >
        </p>
        <p class="support">
          <a href="#"
            ><img
              src="{% static './images/24-support.png' %}"
              alt="support"
              id="support"
            />
            Support</a
          >
        </p>
        <img src="{% static './images/Line 66.png' %}" alt="line" id="line2" />

        <p class="logout">
          <a href="#"
            ><img
              src="{% static './images/logout.png' %}"
              alt="logout"
              id="logout"
            />
            Log out</a
          >
        </p>
      </div>
    </section>
  </body>
</html>
