{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './members/css/uploading-page.css' %}" />
    <link
      rel="upload.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/axiforma" />
    <title>File upload Page</title>
</head>
<body>
	<header>
		<div class="container row">
          <li><img src="{% static './images/Frame 58827.png' %}"></li>
          <ul class="navbar">
          	<li><a href=" {% url 'members:home' %} " class="nav-link">Dashboard</a></li>
            <li><a href=" {% url 'base:about' %} " class="nav-link">Overview</a></li>
            <li><a href=" {% url 'base:feature' %} " class="nav-link">Features</a></li>
            <li><a href=" {% url 'base:how_to' %} " class="nav-link">How To</a></li>
            <li><a href=" {% url 'base:contact' %} " class="nav-link">Contact Us</a></li>
          </ul>
          <div class="row">
            <!-- <a href="#" class="nav-link blue">Sign In</a> -->
            <a href="#" class="nav-link white"><img src="{% static './images/Group 3598.png' %}" alt=""></a>
          </div>
      </div>
	</header>

	<main>
        <div id="arrow">
            <a href="" id="on-arrow"><span id="larr">&larr;</span> Go back</a>
        </div>
    
        <div class="rec-cont">
            <div class="rec-within">
                <div class="rec-one">
                    <!-- <img src="./images/Mask group.png" alt="project tools" id="imgOne">
                    <p id="imgTxt">Team 101 Project Tools.csv</p> -->
                    <img src="{% static './images/upload icon.png' %}" alt="upload-icon" class="icon">
                    <p class="drag">Drag & Drop your file here</p>
                    <p class="line-or"><img src="{% static './images/Line 61.png' %}" alt="" class="line"> <span id="or">OR</span> <img src="{% static './images/Line 61.png' %}" alt="" class="line"></p>
                <div class="buttons">
                    <button type="button" class="browse-button"><a href="" class="browse">Browse</a></button>
                    <!-- <button type="button" class="enter-url-button"><a href="" class="enter-url"><img src="{% static './images/linkk.png' %}" alt=""> Enter URL</a></button> -->
                </div>
            </div>
        </div>

	</main>

    <div>
        <button type="button" class="continue-button"><a href="" id="continue-link">Continue</a></button>
    </div>
</body>
</html>