{% extends 'members/upload-base.html' %}
{% load static %}
{% block title %}File(s) Upload{% endblock title %}

    {% block content %}
    <section class="ee">
      <form method="post" id="upload_form">
        <div class="error"></div>

        {% csrf_token %}

        <!-- actual upload which is hidden -->
        <input
          type="file"
          name="file_url"
          required=""
          id="id_file_url"
          hidden
        />

        <!-- name of file chosen -->
        <span id="file-chosen"></span>

        <!-- our custom upload button -->
        <label for="id_file_url">Browse</label>

        <div class="container" id="progress">
          <div class="progress not-visible">
            <div class="progress-bar bg-success" role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0" aria-valuemax="100">${percentProgress}%</div>
          </div>
        </div>

        <a href="#" class="btn continue">Continue</a>
      </form>
    </section>


    {% endblock content %}

    {% block footer %}
        <script src=" {% static 'members/js/upload.js' %} "></script>
    {% endblock footer %}
   
  </body>
</html>
