/* inital universal declarations
font-family: 'Axiforma', sans-serif;
                                                
*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100%;
   font-family: "Axiforma";
   text-decoration:none;
}

/* styling the body*/
 
body {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 1440px;
   height: 1104px;
}

/*left hand side or left hand column*/
.left {
   background-color: #2691D9;
   padding-top: 35px;
   width: 674px;
   height: 1024px;
   display: flex;
   position: absolute;
   left: 0px;
   top: 0px;
}

/*positioning white logo at the left*/
#whiteLogo{
   position:absolute;
   left:20px;
   top:40px;
   width:23.42px;
   height:29px;
}

/* the blue background gradients styling*/
div > .gradient1 {
   width: 692.23px;
   height: 120px;
   top: 438.48px;
   left: 140px;
   background: linear-gradient(89.89deg, rgba(38, 145, 217, 0), 3.1%, rgba(70, 161, 222, 0)14.52%, rgba(89, 171, 226, 0.44) 20.22%, rgba(106, 180, 229, 0.37) 36.66%, rgba(126, 189, 232, 0384428) 53.49%, rgba(186, 220, 243, 0.37)67.33%, rgba(255, 255, 255, 0.28) 81.69%);
   transform: rotate(-52deg);
   font-size: 0px;

}
div > .gradient2{
   width: 602.99px;
   height: 120px;
   top: 169.38px;
   left: 185.35px;
   background: linear-gradient(89.89deg, rgba(38, 145, 217, 0), 3.1%, rgba(70, 161, 222, 0)14.52%, rgba(89, 171, 226, 0.44) 20.22%, rgba(106, 180, 229, 0.37) 36.66%, rgba(126, 189, 232, 0384428) 53.49%, rgba(186, 220, 243, 0.37)67.33%, rgba(255, 255, 255, 0.28) 81.69%);
   transform: rotate(32.66deg);
   font-size: 0px;
}
div > .gradient3{
   width:559.52px;
   height: 149.61px;
   position: initial; 
   background: linear-gradient(89.89deg, rgba(38, 145, 217, 0), 3.1%, rgba(70, 161, 222, 0)14.52%, rgba(89, 171, 226, 0.44) 20.22%, rgba(106, 180, 229, 0.37) 36.66%, rgba(126, 189, 232, 0384428) 53.49%, rgba(186, 220, 243, 0.37)67.33%, rgba(255, 255, 255, 0.28) 81.69%);
   transform: rotate(-54.33deg);
   font-size: 0px;
}

/* portion for image of the dashboard and the text */
.side-image {
   width: 491px;
   height: 529px;
   position: absolute;
   left: 118px;
   bottom: 0px;
   background-color: #d6d5d6;
   align-items: center;

}
.side-img {
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   width: 340px;
   text-align: center;
   margin : 15rem 1.3rem;
  
}

/*the text on the left hand side(blue background)*/
.text {
   color: #FFFFFF;
   padding-left: 2.7rem;
   position:absolute;
   top: 220px;
}
.header {
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   width: 451px;
   height: 38px;
}
.first-paragraph {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   padding-left: 0.3rem;
}

   /* right hand side /column */
/*styling the container*/
.right {
   background-color: #FFFFFF;
   width: 811px;
   height: 1024px;
   border : 30px 0px 30px 0px;
   right: 5px; 
   position: absolute;
   top: 0px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

/*styling the blue logo on the left*/
#imgParagraph{
   position:absolute;
   left:70px;
   top:40px;
   width:23.42px;
   height:29px;
}
#logoText{
   font-weight:400;
   font-size:18.4643px;
   line-height:28px;
   color:#2D363F;
   position:relative;
   left:95px;
   top:40px;
}
  #imageParagraph{
   position:absolute;
   left:80px;
   top:38px;
   width:23.42px;
   height:29px;
}

/*styling the header text at the right hand side*/
.upper-text {
   width: 597px;
   margin-top: 5rem;
   position: relative;
   left: 125px;
}
.heading {
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   color: #1A1A1A;
}
.paragraph {
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: #757472;
   top: 46px;
   height: 28px;
}

/* sytling the form and label*/
 .form{
   width: 560px;
   height: 618px;
   padding-left:0;
   position:absolute;
   top: 250px;
   left: 125px;
}
div > #label {
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;
   width: 555px;
   color: #1A1A1A;
}

/*for the input*/
input {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #BAB9B8;
   padding: 0.7rem;
   border: 1px solid #BAB9B8;
}

/*  form gaps**/
  .gap {
   margin-top: 40px;
}

/*aligning forgot password text*/
.align {
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   width: 125px;
   height: 22px;
   float: right;
   cursor: pointer;
}

/*aligning checkbox properly*/
.checkbox {
   margin-top: 40px;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   width: 150px;
   height: 22px;
   display:flex;
   padding-left:0px; 
}
 #me{
   position:relative;
   left:4px;
 }

/*blue sign In button*/
.signin{
   background-color: #2691D9;
   padding: 8px 16px;
   text-align: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   gap: 16px;
   border-radius: 8px;
   border: none;
   color: #FFFFFF;
   width: 555px;
   height: 48px;
   margin-top: 20px;
   cursor: pointer;
}

/*sign up paragraph with anchor tag*/
#signUp {
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   color:#979695;
   margin-top:20px;
}
 
/*google logo styling*/
#google {
   height: 1.5rem;
   width: 1.5rem;
   margin-top: 7px;
}

/*sign In with google text styling*/
#gogleText {
   width: 152px;
   height: 24px;
   text-align: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #302E28;
}

/*sign In with google border styling*/
.last{
   background-color: #FFFFFF;
   border-radius: 8px;
   border:1px solid #BAB9B8; 
   margin-top: 10px;
   cursor: pointer;
}

/*adding pointer and hover effects to buttons and links*/
.new:hover,
.sign-in:hover,
.last :hover{
   cursor: pointer;
}

/* coloured circles on different points of the white background*/
  .orange{
   font-size: 70px;
   color:#f38707;
   text-align:left;
   position: relative;
   left: 750px;
   top: 10px;
}
.green{
   font-size: 70px;
   color: #2F9803;
   position: absolute;
   right:99px;
   bottom:60px
}
.purple{
   font-size: 70px;
   color:#A76BDC;
   position: relative;
   right: 40px;
   bottom: 198px;
}

/*  The text before sign in with google button*/
.or{
   height:22px;
   font-size:14px;
   font-weight:500;
   line-height:22px;
}

/*adding the horizonal line on both sides of the text before sign in with google button*/
.line >p  {
   display: flex;
   flex-direction: row;
}  
.line >p:before,
.line >p:after {
   content: "";
   flex: 1 1;
   border-bottom: 1px solid #979695;
   margin: auto;
 }
 
/*styling the check email page and the sucessfull password reset page*/

/*aligning items to the center*/
.Text, .reset{
   text-align:center;
}

/*styling the header*/
.reset{
   margin-top: 50px;
   width:560px;
   height:38px;
   font-size:32px;
   font-weight:700;
   line-height:38px;
   color:#1A1A1A;
   margin-left: 4rem;
}

/*styling the sucess message*/
#msg{
   width:455px;
   height:28px;
   font-size:18px;
   font-weight:400;
   line-height:20px;
   color:#757472;
   margin-top: 15px;
   margin-left: 8rem;
}
#name{
   width:455px;
   height:28px;
   font-size:18px;
   font-weight:400;
   line-height:20px;
   color:#53534E;
   margin-top:0.3rem;
   margin-left: 8rem;
}

 /*styling the resend link*/
.resend{
   width:142px;
   height:24px;
   font-size:16px;
   font-weight:400;
   line-height:24px;
   position:relative;
   top: 20px;
   margin-right: 6rem;
}

/* positioning the green and purple dots properly*/
.color1{
   left:25px;
   top:90px
}
.color2{
   left: 55px;
   top: 230px;
}
 