body {
    margin: 0;
    padding: 0;
    font-family: Axiforma, sans-serif;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.error-content img {
    width: 143px;
    height: 93px;
}
.error-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #0D0D0D;
    margin-bottom: 36px;
}
.error-content p {
    max-width: 794px;
    font-size: 20px;
    font-weight: 400;
    color: #262626;
    line-height: 30px;
    margin-bottom: 36px;
    text-align: center;
}

.error-content a {
    padding:  8px 32px;
    background-color: #2691D9;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;
}

